<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<bean id="jedis" class="redis.clients.jedis.Jedis">
		<constructor-arg type="java.lang.String" value="172.17.0.2"></constructor-arg>
		<constructor-arg type="int" value="6379"></constructor-arg>
	</bean>
	<bean id="producer" class="com.service.redis.rmq.Producer">
		<constructor-arg type="redis.clients.jedis.Jedis" ref="jedis"></constructor-arg>
		<constructor-arg type="java.lang.String" value="queue"></constructor-arg>
	</bean>
	<bean id="consumer" class="com.service.redis.rmq.Consumer" scope="prototype">
		<constructor-arg type="redis.clients.jedis.Jedis" ref="jedis"></constructor-arg>
		<constructor-arg type="java.lang.String" value="queueConsumer"></constructor-arg>
		<constructor-arg type="java.lang.String" value="queue"></constructor-arg>
	</bean>
</beans>
